* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('/static/Fonts/Rajdhani-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

html, body {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    overflow: hidden; 
}

#alert {
    display: none;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    z-index: 1000;
    text-align: center; 
}

#special_alert {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    z-index: 1000;
    text-align: center; 
    padding:10px;
}


#canvasContainer {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#overlay_sections {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; 
    user-select: none;
}

#view_mode_btns {
    position: absolute;
    opacity: 0.95;
    font-family: 'Rajdhani', sans-serif;
    top: 1%;
    left: 0;
    padding: 0;
    max-width: 30%;
}

#player_info{
    position: absolute;
    font-family: 'Rajdhani', sans-serif;
    opacity: 0.95;
    top: 45%;
    left: 0;
    transform: translateY(-50%);
    max-width: 16vw;
    max-height: 40vh;
    border: 0;
    background-color: rgba(255, 255, 255, 0)
}

#laplace_info_display{
    display: none;
    font-family: 'Rajdhani', sans-serif;
    opacity: 0.95;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    max-width: 15vw;
    border: 0;
    padding: 3px;
    border-radius: 3%
}


.stats-list {
    overflow-y: auto;
    max-height: 40vh;
    max-width: 15vw;
    font-family: 'Rajdhani', sans-serif;
    opacity: 0.95;
    position: sticky;
    top: 0;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-head{
    padding-left: 1vw;
    padding-top: 1vh;
    opacity: 0.95;
    font-family: 'Rajdhani', sans-serif;
}

#event_announcement{
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 40vw;
    max-height: 15vh;
    opacity: 0.95;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}


#tracker{
    position: absolute;
    top: 1%;
    right: 0;
    max-width: 25vw;
    max-height: 35vh;
    display: flex;
    opacity: 0.95;
    flex-direction: column;
    font-family: 'Rajdhani', sans-serif;
}

.winning_condition {
    display: flex;
    flex-direction: column;
    opacity: 0.95;
    font-family: 'Rajdhani', sans-serif;
}

.losing_condition {
    display: flex;
    flex-direction: column;
    opacity: 0.95;
    font-family: 'Rajdhani', sans-serif;
}

#misTargets {
    display: None;
    opacity: 0.95;
    font-family: 'Rajdhani', sans-serif;
}

#misProgBar {
    display: None;
}

#misProgDesp {
    display: None;
    font-family: 'Rajdhani', sans-serif;
    opacity: 0.95;
}

#lossProg {
    display: None;
}

#lossDesp {
    display: None;
    font-family: 'Rajdhani', sans-serif;
    opacity: 0.95;
}

#control_panel{
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 40vw;
    max-height: 20vh;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: auto;
    font-family: 'Rajdhani', sans-serif;
    opacity: 0.95;
}

#control_mechanism{
    padding: 0;
    margin-top: 1%;
    font-family: 'Rajdhani', sans-serif;
    opacity: 0.95;
}

#middle_display{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 45vw;
    max-height: 50vh;
    font-family: 'Rajdhani', sans-serif;
    opacity: 0.95;
}

#middle_title{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    opacity: 0.95;
}

#middle_content{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    opacity: 0.95;
}

#proceed_next_stage {
    display: none;
    position: absolute;
    bottom: 1%;
    right: 10%;
    transform: translateX(-50%);
    width: 10vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    opacity: 0.95;
}

#timeout-bar {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 0.5vh;
}

.text {
    font-size: 1.2vw;
    font-family: 'Rajdhani', sans-serif;
}

.circular-button {
    position: absolute;
    bottom: 3%;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    color: darkgrey;
    border: none;
    outline: none;
    cursor: pointer;
}

.circular-button:hover {
    background-color: grey;
}

.circular-button img {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    height: 100%;
  }

#btn-diplomatic {
    background-color: #BEBEBE;
    left: 2%;
}

#btn-sep-auth {
    background-color: #BEBEBE;
    left: 8%;
}

#btn-skill {
    background-color: #BEBEBE;
    left: 14%;
}

#btn-reserve {
    background-color: #BEBEBE;
    left: 20%;
}

#btn-debt {
    background-color: #BEBEBE;
    left: 26%;
}

#global_status {
    display: none;
    font-family: 'Rajdhani', sans-serif;
    background-color: #1E2328;
    position: absolute; 
    right: 0;
    top: 35%;
    opacity: 0.95;
}