* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#alert {
    display: none;
    position: fixed;
    top: 50px;
    right: 50px;
    width: 40vw;
    z-index: 1000;
}

.card {
	margin: 4vh auto;
	padding: 2rem;
}

.card-header {
	margin: 0rem 0rem 1rem 0rem;
}

.space {
	margin: 0.5rem;
}
