.gameContent{
  display: block;
  text-align: center;
}

.change_settings,
.current_players,
.settings {
  display: block; /* Forces elements to display in a block (on a new line) */
  margin-bottom: 10px; /* Adds spacing between the blocks */
  margin: 0 auto;
}