<div class="buttons">
    <h3>HEGEMONY</h3>
    <h4>Basic Setups</h4>
    <div>
        <label>Number of players: </label>
        <input type="number" id="numPlayers" min="5" max="10" step="1" value="5">
    </div>
    <div>
        <label>Alliance mode: </label>
        <label>
            <input type="radio" id="allianceOn" value="yes" checked> On
          </label>
          <label>
            <input type="radio" id="allianceOn" value="no"> Off
          </label>
    </div>
    <button  id="createLobby" class="create-btn">Create Lobby</button>
    </div>