{% extends 'base.html' %}
{% block content %}
<form method="post" class="buttons">
    <h3>HEGEMONY</h3>
    <h4>Basic Setups</h4>
    <div>
        <label>Number of players: </label>
        <input type="number" name="numPlayers" min="5" max="10" step="1" value="5">
    </div>
    <div>
        <label>Alliance mode: </label>
        <label>
            <input type="radio" name="alliesOn" value="yes" checked> On
          </label>
          <label>
            <input type="radio" name="alliesOn" value="no"> Off
          </label>
    </div>
    <button type="submit" name="create" class="create-btn">Create Lobby</button>
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</form>
{% endblock %}