<!-- <div id="overlay_sections">
    <div></div>
    <div></div>
    <div></div>
    <button id="btn_show_cont" class="btn btn-secondary">Show Continent Borders</button>
    <div id="player_info">
        <div id="player_list"></div>
        <button id="btn_show_player_info" class="btn btn-primary">Hide player info</button>
    </div>
    <div id="event_announcement">Mission: Capture Pannotia</div>
    <div id="action_panel">Actions</div>
    <div id="control_panel">Confirm Cancel</div>
    <div id="status_tracker">Secret Agenda Progress</div>
</div> -->
<div id="canvasContainer"></div>
<div id="overlay_sections">
    <div class="card" id="view_mode_btns">
        <div class="card-head">
            View Options
        </div>
        <div class="card-body">
            <button id="btn_show_cont" class="btn btn-info">Show Continent Borders</button>
        </div>
    </div>

    <div class="card" id="player_info">
        <div class="card-head">
            Player Information
        </div>
        <div class="card-body">
            <div class="stats-list" id="stats-list">
                <button class="btn game_btn btn-info">Player 1</button>
                <button class="btn game_btn btn-info">Player 2</button>
                <button class="btn game_btn btn-info">Player 3</button>
                <button class="btn game_btn btn-info">Player 4</button>
                <button class="btn game_btn btn-info">Player 5</button>
                <button class="btn game_btn btn-info">Player 6</button>
            </div>
        </div>
    </div>

    <div class="card" id="actions">
        <div class="card-head">
            Actions
        </div>
        <div class="card-body">
            <div class="action_panel" id="action_panel">
                <button class="btn game_btn btn-primary">Special Authority</button>
                <button class="btn game_btn btn-primary">Diplomatic</button>
                <button class="btn game_btn btn-primary">Ultimate War Art</button>
            </div>
        </div>
    </div>

    <div class="card" id="event_announcement">
        <div class="card-body">
            <h1>MISSION: CAPTURE PANNOTIA</h1>
        </div>
    </div>

    <div class="card" id="tracker">
        <div class="card-head">Mission Tracker</div>
        <div class="card-body">
            <h3>Mission Progression:</h3>
            <h3>3/6 Occupied</h3>
        </div>
    </div>

    <div class="card" id="control_panel">
        <div class="card-head">Deploy Troops</div>
        <div class="card-body">
            <button class="btn btn-success">Confirm</button>
            <button class="btn btn-warning">Cancel</button>
        </div>
    </div>

    <!-- <div class="card" id="middle_display">
        <div class="card-head">Deploy Troops</div>
        <div class="card-body">
            <button class="btn btn-success">Confirm</button>
            <button class="btn btn-warning">Cancel</button>
        </div>
    </div> -->

</div>