<div id="canvasContainer"></div>
<div id="overlay_sections">

    <audio id="turn_notification" src="{{url_for('static', filename='Audio/wardrum.wav')}}"></audio>
    <audio id="smallbattle" src="{{url_for('static', filename='Audio/smallbattle.wav')}}"></audio>
    <audio id="bigbattle" src="{{url_for('static', filename='Audio/bigbattle.wav')}}"></audio>
    <audio id="railgun" src="{{url_for('static', filename='Audio/railgun.wav')}}"></audio>
    <audio id="smolbattle" src="{{url_for('static', filename='Audio/smolbattle.wav')}}"></audio>
    <audio id="nuclearExplosion" src="{{url_for('static', filename='Audio/nukeExplosion.wav')}}"></audio>

    <audio id="missile1" src="{{url_for('static', filename='Audio/explosion5.wav')}}"></audio>
    <audio id="missile2" src="{{url_for('static', filename='Audio/explosion6.wav')}}"></audio>

    <audio id="selectionSound" src="{{url_for('static', filename='Audio/selectionSound1.wav')}}"></audio>
    <audio id="constructionSound" src="{{url_for('static', filename='Audio/construction.wav')}}"></audio>
    <audio id="votingSound1" src="{{url_for('static', filename='Audio/wardrum2.wav')}}"></audio>
    <audio id="votingSound2" src="{{url_for('static', filename='Audio/wardrum3.wav')}}"></audio>
    <audio id="gameEndSound" src="{{url_for('static', filename='Audio/gameEnd.wav')}}"></audio>

    <div class="card" id="view_mode_btns">
        <div class="card-body flex items-center space-x-2">
            <h6 class="mt-1">Continent Borders</h6>
            <button id="btn_show_cont" class="btn btn-info ml-2">Off</button>
        </div>
    </div>

    <div class="card" id="player_info">
        <div class="card-body p-0">
            <div class="stats-list" id="stats-list">
            </div>
        </div>
    </div>

    <div class="card" id="event_announcement">
        <div class="card-body" id="announcement">
            <h1></h1>
        </div>
    </div>

    <div class="card" id="tracker">
        <div class="card-body">
            <div class="mission_title"><span id="mission_title"></span></div>

            <div class="winning_condition">
                <div id="misTargets"></div>
                <div id="misProgBar"></div>
                <div id="misProgDesp"></div>
            </div>

            <div class="losing_condition">
                <div id="lossProg"></div>
                <div id="lossDesp"></div>
            </div>

        </div>
    </div>

    <div class="card" id="control_panel">
        <div class="card-head" id="control_mechanism"></div>
        <div class="card-body" id="confirm_cancel">
            <button class="btn btn-success" id="control_confirm">Confirm</button>
            <button class="btn btn-warning" id="control_cancel">Cancel</button>
        </div>
    </div>

    <div class="card" id="middle_display">
        <div class="card-head" id="middle_title"></div>
        <div class="card-body" id="middle_content"></div>
    </div>

    <button class="btn btn-danger" id="proceed_next_stage">
        <div class="text"></div>
    </button>

    <div id="timeout-bar"></div>

    <button class="btn circular-button" id="btn-diplomatic">
        <img src="/static/Assets/Logo/diplomatic.png" >
    </button>
    <button class="btn circular-button" id="btn-sep-auth">
        <img src="/static/Assets/Logo/special_auth.png">
    </button>
    <button class="btn circular-button" id="btn-skill">
        <img src="/static/Assets/Logo/skill.png" style="height: 50%;">
    </button>
    <button class="btn circular-button" id="btn-reserve">
        <img src="/static/Assets/Logo/reserves.png">
    </button>

    <div id="global_status" class="p-2 antialiased rounded-lg shadow-md">
        <div class="flex justify-between items-center mb-1.5">
            <h6 class="text-sm font-semibold" style="color: #F5B301">Round</h6>
            <h6 id="game_round" class="text-sm font-bold pl-5" style="color: #F5B301">0</h6>
        </div>
        <div class="flex justify-between items-center mb-1.5">
            <h6 class="text-sm font-semibold" style="color: #F5B301">Special Authority</h6>
            <h6 id="curr_special_auth" class="text-sm font-bold pl-5" style="color: #F5B301">0</h6>
        </div>
        <div class="flex justify-between items-center mb-1.5">
            <h6 class="text-sm font-semibold" style="color: #F5B301">Reserves</h6>
            <h6 id="curr_reserves" class="text-sm font-bold pl-5" style="color: #F5B301">0</h6>
        </div>
        <div class="flex justify-between items-center mb-1.5">
            <h6 class="text-sm font-semibold" style="color: #F5B301">Infrastructure Level</h6>
            <h6 id="curr_infra" class="text-sm font-bold pl-5" style="color: #F5B301">3</h6>
        </div>
        <div class="flex justify-between items-center mb-1.5">
            <h6 class="text-sm font-semibold" style="color: #F5B301">Minimum Roll</h6>
            <h6 id="curr_min_roll" class="text-sm font-bold pl-5" style="color: #F5B301">1</h6>
        </div>
        <h6 class="text-sm font-semibold" style="color: #F5B301">Largest Army</h6>
        <h6 id="LAO" class="text-sm font-bold mb-1.5" style="color: #F5B301">--</h6>

        <h6 class="text-sm font-semibold" style="color: #F5B301">Most Territory</h6>
        <h6 id="MTO" class="text-sm font-bold mb-1.5" style="color: #F5B301">--</h6>

        <h6 class="text-sm font-semibold" style="color: #F5B301">Most Industrialized</h6>
        <h6 id="TIP" class="text-sm font-bold mb-1.5" style="color: #F5B301">--</h6>

        <h6 class="text-sm font-semibold" style="color: #F5B301">Superpower</h6>
        <h6 id="SUP" class="text-sm font-bold mb-1.5" style="color: #F5B301">--</h6>
    </div>

    <div id="laplace_info_display">
    </div>

</div>