{% extends 'gameBase.html' %}
{% block content %}

<div class="current_players">
    <h2>Lobby Code: {{code}}</h2>
    <div class="players" id="players"></div>
</div>
<div class="settings" id="currentSettings">
    <h2>Current Settings</h2>
    <p>Max number of players: {{stats.maxPlayer}}</p>
    <p>Alliance mode: {% if stats.alliesAllowed %}On{% else %}Off{% endif %}</p>
</div>
{% if playerName == stats.host %}
<div class="change_settings">
    <form id="change_settings">
        <div>
            <label>Number of players: </label>
            <input type="number" name="numPlayers" min="5" max="10" step="1" value="5">
        </div>
        <div>
            <label>Alliance mode: </label>
            <label>
                <input type="radio" name="alliesOn" value="yes" checked> On
              </label>
              <label>
                <input type="radio" name="alliesOn" value="no"> Off
              </label>
        </div>
        <button type="button" name="change" onClick="changeSettings()">Change Settings</button>
</div>
{% endif %}

<script type="text/javascript">
    var socketio = io(); // initiate connection, which is handled by function from server side with decorator @socketio.on('connect')
    const players = document.getElementById("players")
    const settings = document.getElementById("currentSettings")
    let pNames = []
    let currSettings = {}

    const updatePNames = (data) => {
        players.innerHTML = ``;
        for (let name in data){
            const content = `<div class="text">
            <span> <strong>${data[name]}</strong>: Active</span>
            </div>`;
            players.innerHTML += content;
        }
    }

    const updateSettings = (data) => {
        settings.innerHTML = ``;
        const content = `<h2>Current Settings</h2>
    <p>Max number of players: ${data.maxPlayer}</p>
    <p>Alliance mode: ${data.allianceOn}</p>`;
        settings.innerHTML += content
    }

    const changeSettings = () => {

        const form = document.getElementById('change_settings');
        const numPlayersInput = form.elements['numPlayers'];
        const alliesOnInputs = form.elements['alliesOn'];

        const numPlayers = numPlayersInput.value;
        let alliesOn;

        for (let btn of alliesOnInputs) {
        if (btn.checked) {
            alliesOn = btn.value;
            break;
            }
        }

        socketio.emit("changeSettings", {'maxPlayer': numPlayers, 'allianceOn': alliesOn});
    }

    socketio.on("playerIn", (data) => {
        updatePNames(data);
    });

    socketio.on("playerOut", (data) => {
        updatePNames(data);
    });

    socketio.on("changeSettings", (data) => {
        updateSettings(data);
    });

</script>

{% endblock %}