<div class="buttons">
    <h3>Settings Panels</h3>
    <div>
        <label>Number of players: </label>
        <input type="number" id="numPlayers" min="5" max="10" step="1" value="5">
    </div>
    <div>
        <label>Alliance mode: </label>
        <label>
            <input type="radio" name="allianceMode" value="yes" checked> On
          </label>
          <label>
            <input type="radio" name="allianceMode" value="no"> Off
          </label>
    </div>
    <button  id="changeSettings" >Change Settings</button>
</div>