<div style="display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;">


    <!-- Game Title -->
    <div class="text-center" style="margin: 2vh 0">
        <h1>HEGEMONY</h1>
    </div>

    <div class="container" style="margin: 0 15vw">
    <div class="row">

        <div class="col"></div>

        <!-- Lobby Code -->
        <div class="col">
        <div class="card text-center">
            <h4 class="card-header">Lobby Code</h4>
            <div class="card-body">
                <h1 id="lobby_code"></h1>
            </div>
        </div>
        </div>

        <div class="col"></div>

    </div>
    <div class="row">

        <!-- Map Select -->
        <div class="col">
        <div class="card text-center">
            <!-- TODO implement this -->
            map select
        </div>
        </div>

        <!-- Gamemode Select -->
        <div class="col">
        <div class="card text-center">
            <!-- TODO implement this -->
            gamemode select
        </div>
        </div>

    </div>
    <div class="row">

        <!-- Lobby Settings -->
        <div class="col">
        <div class="card text-center">
            <h4 class="card-header">Lobby Settings</h4>
            <div class="card-body">
                <!-- Alliance -->
                <div class="input-group space">
                    <label for="alliance" class="input-group-text">Alliance</label>
                    <select class="form-select" id="alliance" disabled>
                        <option value="false">Off</option>
                        <option value="true">On</option>
                    </select>
                </div>
                <!-- Turn Time -->
                <div class="input-group space">
                    <label for="turn_time" class="input-group-text">Turn Time</label>
                    <select id="turn_time" class="form-select" disabled>
                        <option value="30">30 seconds</option>
                        <option value="60">1 minute</option>
                        <option value="120">2 minutes</option>
                        <option value="180">3 minutes</option>
                        <option value="300">5 minutes</option>
                    </select>
                </div>
            </div>
        </div>
        </div>

        <!-- List of Players -->
        <div class="col">
        <div class="card text-center">
            <h4 class="card-header">Players</h4>
            <div class="card-body">
                <ul id="player_list" class="list-group"></ul>
            </div>
        </div>
        </div>

    </div>
    </div>


</div>

<script src="{{url_for('static', filename='js/lobby.js')}}"></script>
