<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HEGEMONY</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/homeStyle.css')}}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.8.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.8.0/addons/p5.sound.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body data-bs-theme="dark">

<div id="main"></div>
<div id="popupBackground">
    <div id="popup"><div>
</div>

<script>

function popup(msg, duration) {
    let popup_background = document.getElementById("popupBackground");
    let popup = document.getElementById("popup");
    popup.innerHTML = msg;
    popup_background.style.display = 'flex';
    setTimeout(function() {
        popup.innerHTML = '';
        popup_background.style.display = 'none';
    }, duration);
}

$(document).ready(function() {

    // main_menu page
    $.ajax({
        url: 'http://127.0.0.1:8080/main_menu',
        type: 'GET',
        success: function(response) {
            $('#main').html(response);
            $('#btn_createLobby').click(function() {
                let username = $('#nickname').val();
                if (username.trim() === '') {
                    popup("Must enter a name!", 1000);
                    return;
                }
                socket.emit('createLobby', {'username': username});
            });
            $('#btn_joinLobby').click(function() {
                console.log('join lobby');
                socket.emit('createLobby', $('#username').val());
            });
        },
        error: function(error) {
            console.log(error);
        }
    });

    // Initiate socket connection
    var socket = io.connect('http://127.0.0.1:8081');
    
    socket.on('connect', function() {
        console.log('connected');
    });

    // Lobby creation page
    socket.on('createLobby', function(data) {
        console.log("Creating lobby");
        $.ajax({
            url: 'http://127.0.0.1:8080/createLobby',
            type: 'GET',
            success: function(response) {
                $('#main').html(response);
                $('#createLobby').click(function() {
                    let numPlayers = $('#numPlayers').val();
                    let alliesOn = $('#allianceOn').val();
                    socket.emit('lobbyCreation', {'username': data.username, 
                    'maxPlayers': numPlayers, 'allianceOn': alliesOn});
                });
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

    // GameLobby Page
    socket.on('gameLobby', function(data) {
        console.log("Inside lobby");
        $.ajax({
            url: 'http://127.0.0.1:8080/gameLobby',
            type: 'GET',
            success: function(response) {
                $('#main').html(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
    
});
</script>
</body>
</html>