<!--
<div class="buttons">
    <h3>HEGEMONY</h3>
    <div>
        <label>Name:</label>
        <input type="text" placeholder="Pick a name!" id="username" />
    </div>
    <div class="join">
        <input type="text" placeholder="Lobby Code" id="lobbyID" />
        <button id="join_btn">Join a Lobby</button>
    </div>
    <button id="create_btn">Host a Lobby</button>
    <div id="homeError"></div>
</div>
-->

<!-- Game Title -->
<div class="text-center" style="margin: 10vh">
    <h1>Hegemony</h1>
</div>

<div class="row" style="margin: 0 15vw">

    <!-- Play Game -->
    <div class="card text-center" style="width: 35vw">
        <h4 class="card-header">Play Game</h4>
        <div class="card-body">
            <div class="input-group space">
                <span class="input-group-text">Nickname</span>
                <input id="nickname" class="form-control" type="text" placeholder="Enter a nickname..." />
            </div>
            <div class="space input-group">
                <input id="joinLobbyCode" class="form-control" type="text" placeholder="Lobby ID" />
                <button class="btn btn-primary">Join Lobby</button>
            </div>
            <button class="space btn btn-primary">Create Lobby</button>
        </div>
    </div>

    <!-- Credits -->
    <div class="card text-center" style="width: 25vw">
        <h4 class="card-header">Credits</h4>
        <div class="card-body">
            <p>Sum Ting Wong — Designer</p>
            <p>Ho Lee Fuk — Programmer</p>
            <p>Long Buk Lao — Beta Tester</p>
        </div>
    </div>

</div>

<!-- Settings -->
<!--
<div class="card text-center" style="70vw">
    <h4 class="card-header">Settings</h4>
    <div class="card-body">
        Add settings here<br/>
        Expecting to split into two columns
    </div>
</div>
-->
