<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HEGEMONY</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.8.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.8.0/addons/p5.sound.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body data-bs-theme="dark">

<div id="main"></div>
<div id="lobbySettings"></div>

<div id="START_GAME"></div>

<div id="gameMap"></div>

<div id="alert" class="alert alert-danger"></div>

<script>

var popup_timeout = null;

function popup(msg, duration) {
    if (popup_timeout) clearTimeout(popup_timeout);
    let popup = document.getElementById("alert");
    popup.innerHTML = msg;
    popup.style.display = 'flex';
    popup_timeout = setTimeout(() => {
        popup.innerHTML = '';
        popup.style.display = 'none';
    }, duration);
}

function cleanPreStartDivContent() {
    document.getElementById("main").innerHTML = ""; 
    document.getElementById("lobbySettings").innerHTML = "";
    document.getElementById("START_GAME").innerHTML = "";
}

$(document).ready(function() {

    // main_menu page
    $.ajax({
        url: 'http://127.0.0.1:8080/main_menu',
        type: 'GET',
        success: function(response) {
            $('#main').html(response);
            $('#btn_createLobby').click(function() {
                let username = $('#nickname').val();
                if (username.trim() === '') {
                    popup("Must enter a name!", 1000);
                    return;
                }
                socket.emit('createLobby', {'username': username});
            });
            $('#btn_joinLobby').click(function() {
                console.log('join lobby');
                let lobby_code = $("#joinLobbyCode").val();
                let username = $('#nickname').val();
                if (username.trim() === '') {
                    popup("Must enter a name!", 1000);
                    return;
                }
                if (lobby_code.trim() === ''){
                    popup("Must enter a lobby code!", 1000);
                    return;
                }
                socket.emit('joinLobby', {'username': username, 'lobby_code': lobby_code});
            });
        },
        error: function(error) {
            console.log(error);
        }
    });

    // Initiate socket connection
    var socket = io.connect('http://127.0.0.1:8081');
    
    socket.on('connect', function() {
        console.log('connected');
    });

    socket.on('errorPopup', function(data){
        popup(data.msg, 1000);
    });

    // Lobby creation page
    socket.on('createLobby', function(data) {
        console.log("Creating lobby");
        $.ajax({
            url: 'http://127.0.0.1:8080/createLobby',
            type: 'GET',
            success: function(response) {
                $('#main').html(response);
                $('#btn_createLobby').click(function() {
                    let numPlayers = $('#numPlayers').val();
                    // let alliesOn = $('input[name="allianceMode"]:checked').val();
                    let alliesOn = $('#alliance').val() == 1;
                    socket.emit('lobbyCreation', {'username': data.username,
                    'maxPlayers': numPlayers, 'allianceOn': alliesOn});
                });
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

    // GameLobby Page
    socket.on('gameLobby', function(data) {
        console.log("Inside lobby");
        $.ajax({
            url: 'http://127.0.0.1:8080/gameLobby',
            type: 'GET',
            success: function(response) {
                $('#main').html(response);
                $('#lobby_code').append('<h4></h4>');
                $('#lobby_code h4').text("Lobby Code: " + data.lobby_code);
                $('#maxPlayers').append('<h4></h4>');
                $('#maxPlayers h4').text("Maximum number of players: " + data.maxPlayers);
                $('#allianceOn').append('<h4></h4>');
                let onOff = data.allianceOn ? "On" : "Off"
                $('#allianceOn h4').text("Alliance Mode: " + onOff);
                let plist = "";
                for (let player of data.players) {
                    plist += '<h4>' + player + '</h4>';
                }
                $('#playerList').append(plist);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

    // Change settings
    socket.on('lobbySettings', function(data){
        $.ajax({
            url: 'http://127.0.0.1:8080/changeSettings',
            type: 'GET',
            success: function(response) {
                $('#lobbySettings').html(response);
                $('#changeSettings').click(function(){
                    let numPlayers = $('#numPlayers').val();
                    let allianceMode = $('input[name="allianceMode"]:checked').val();
                    socket.emit('changeSettings', {
                    'numPlayers': numPlayers,
                    'allianceMode': allianceMode,
                    'lobby': data.lobby
                    });
                });
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

    // Start game button
    socket.on('startGameBtn', function(data){
        $.ajax({
            url: 'http://127.0.0.1:8080/startGameBtn',
            type: 'GET',
            success: function(response) {
                $('#START_GAME').html(response);
                $('#START_GAME_BTN').click(function(){
                    socket.emit('START_GAME', data)
                });
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

    // Game View
    socket.on('gameView', function(data){
        cleanPreStartDivContent();
        console.log("IN GAME")
        $.ajax({
            url: 'http://127.0.0.1:8080/gameMap',
            type: 'GET',
            success: function(response) {
                $('#gameMap').html(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

});
</script>
</body>

</html>